{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} AcadSecure - Home {% endblock title %}</title>
    
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=2" />
    {% block css %}
    {% endblock %}
  </head>
  <body>
    {% comment %}Navbar {% endcomment %}
    {% include "partials/navbar.html" %}
    {% comment %} Main Body area {% endcomment %}
    <main>
    {% comment %} Loader Code Start {% endcomment %}
    <div class="loader-overlay">
    <div class="loader-wrap">
      <div class="logo">
        <span class="acad">Acad</span><span class="secure">Secure</span>
      </div>
      <div class="bar"></div>
    </div>
  </div>
  <script>
    // Simulate slow loading (3 seconds)
    window.addEventListener("load", () => {
        document.body.classList.add("loaded");
    });
  </script>
    {% comment %} Loader Code Ends {% endcomment %}

    {% block content %}     
    {% endblock %}
    </main>
    {% comment %} Footer area Start{% endcomment %}
    
    
    
    {% comment %} Footer area Ends{% endcomment %}

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'scripts/script.js' %}"></script>
    {% include "partials/footer.html" %}
  </body>
</html>
