{% extends "base.html" %} {% load static %} {% block title %} AcadSecure - Home
{% endblock %} 
{% block content %}

  <div class="container-fluid" id="main">
    {% comment %} banner created by krish {% endcomment %}
  <div class="row banner_area">
    <div
      class="col-lg-6 col-md-12 col-sm-12 banner_area-c pt-lg-4"
      id="banner_area-c1"
    >
      <section id="b_a-c1_s1">
        <h4>Welcome to the AcadSecure community</h4>
      </section>
      <section id="b_a-c1_s2">
        <p>
          The place to get support, ask and answer questions and contribute to
          the open source learning platform, AcadSecure LMS.
        </p>
      </section>

      <section id="b_a-c1_s3">
        <a href="{% url 'about' %}"><button>About US</button></a>
        <a href="https://github.com/Krish-CyberSec/ZeroDay_Syndicate"
          ><button>GitHub</button></a
        >
      </section>

      <section id="b_a-c1_s4">
        <div class="circles" id="circle1"></div>
        <div class="circles" id="circle2"></div>
        <div class="circles" id="circle3"></div>
        <div class="circles" id="circle4"></div>
        <div id="circles_side">
          <p>Happy Students</p>
        </div>

        {% comment %} Feature tab by Navya {% endcomment %}
        <section class="py-5 back">
        <div class="container">
            <div class="row text-center g-4">
                <div class="col-md-4">
                    <div class="p-4 h-100">
                        <div class="icon-box mb-3">
                            <img class="feature_img" src="https://uploads-ssl.webflow.com/63201b51f3e2d01beecbb8b7/6346a1832ef5c8ff96c689fc_ic-f1.png">
                        </div>
                        <h5 class="fw-bold">Learn from anywhere</h5>
                        <p class="text-muted">
                            Ecolabs’s online learning platform empowers you to learn new skills and accomplish real
                            growth.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="p-4 h-100">
                        <div class="icon-box mb-3">
                            <img class="feature_img" src="https://uploads-ssl.webflow.com/63201b51f3e2d01beecbb8b7/63469556eabc886ebaaa81ae_ic-f2.png">
                        </div>
                        <h5 class="fw-bold">Courses taught by real-world experts</h5>
                        <p class="text-muted">
                            Our teachers are experts excited to share their wisdom, experience, & trusted tools with
                            you.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="p-4 h-100">
                        <div class="icon-box mb-3">
                            <img class="feature_img" src="https://uploads-ssl.webflow.com/63201b51f3e2d01beecbb8b7/6346a1b8ba474e3fe177b111_ic-f3.png">
                        </div>
                        <h5 class="fw-bold">Learn in-demand skills</h5>
                        <p class="text-muted">
                            Explore demanded skills, deepen existing passions, and get lost in creativity.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
  

      </div>

      <section id="b_a-c1_s3">
        <a href="{% url 'about' %}"><button>About US</button></a>
        <a href="https://github.com/Krish-CyberSec/ZeroDay_Syndicate"
          ><button>GitHub</button></a
        >
      </section>
    </div>
    <div
      class="col-lg-6 col-md-12 col-sm-12 banner_area-c pt-lg-4"
      id="banner_area-c2"
    >
      <div class="b_c2-img_circles" id="b_c2-img_cir1"></div>
      <div class="b_c2-img_circles" id="b_c2-img_cir2"></div>
      <div class="b_c2-img_circles" id="b_c2-img_cir3"></div>
      <div class="b_c2-img_circles" id="b_c2-img_cir4"></div>

      <section id="b_c2-img">
        <div class="row g-3 justify-content-center">
          <div
            class="b_c2-img-c col-6 col-md-4 col-lg-6 me-5"
            id="b_c2-img-c1"
          ></div>
          <div
            class="b_c2-img-c col-6 col-md-4 col-lg-6"
            id="b_c2-img-c2"
          ></div>
          <div
            class="b_c2-img-c col-6 col-md-4 col-lg-6 me-5 "
            id="b_c2-img-c3"
          ></div>
          <div
            class="b_c2-img-c col-6 col-md-4 col-lg-6"
            id="b_c2-img-c4"
          ></div>
        </div>
      </section>




      {% comment %}
      <section id="b_a-c2_s1">
        <h4>Images Area</h4>
      </section>
      {% endcomment %}
    </div>
  </div>
</div>

{% endblock %} {% block footer %} {% endblock %}
