* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 16px;
}

body {
  font-size: clamp(1rem, 2.2vw, 1.125rem);
}
/* Media Query starts */
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}
/* Media Query Ends */

/* Header starts*/

#nav{
    padding: 1% 4% 0.5% 4%;
}

.navbar-brand {
  font-weight: bolder;
  color: #000000;
  font-size: 29px;
  padding-left: 20px;
}
.navbar-brand span {
  color: #ebab5c;
  font-weight: bolder;
  font-size: 29px;
}

.nav-item:nth-child(1) .nav-link {
  font-weight: 400;
  color: #ebab5c;
}

.nav-item:nth-child(5) .nav-link {
    border:1px solid black;
    text-align: center;
    font-weight: bold;
    padding: 13px 30px;

}

.nav-item:nth-child(-n+4) .nav-link{
    padding: 13px 30px;
}

.nav-item:nth-child(-n+4) .nav-link:hover {
  text-decoration: underline;
  color: #ebab5c;
  font-weight: 600;
}
.nav-item:nth-child(5) .nav-link:hover {
    background-color: black;
    color: white;
}

/* Header Ends */

/* Main Starts */

.banner_area-c{
    height: fit-content;

}


#banner_area-c1{
    padding-left: 4%;
    position: relative;

}

#banner_area-c1 > #b_a-c1_s1 > h4{
    font-weight: bolder;
    font-size: 55px;
    padding-left: 29px;
    margin-top: 50px;
    margin-bottom: 20px;
}

#banner_area-c1 > #b_a-c1_s2 > p{
    padding-left: 29px;
    color: grey;
    font-family: 'Times New Roman', Times, serif;

}
#banner_area-c1 > #b_a-c1_s3{
    display: flex;
    padding-left: 29px;

} 

#banner_area-c1 > #b_a-c1_s3 a:nth-child(1) button{
    padding: 12px 20px;
    border: none;
    /* border-radius: 10px; */
    background-color: #ebab5c;/*#1ab59e*/
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 200px;
    margin-top: 30px;
    margin-right: 20px;
    font-weight: bolder;
    
}
#banner_area-c1 > #b_a-c1_s3 a:nth-child(2) button{
    font-size: 16px;
    padding: 12px 20px;
    width: 200px;
    margin-top: 30px;
    font-weight: bolder;
    border: 1px solid black;
    background-color: transparent;


}

#banner_area-c1 > #b_a-c1_s3 a:nth-child(1) button:hover{
    background-color: transparent;
    color: #000000;
    border: 1px solid black;
}
#banner_area-c1 > #b_a-c1_s3 a:nth-child(2) button:hover{
    background-color:#000000; 
    color: #fff;
    border:none;
}

#banner_area-c1 > #b_a-c1_s4{
    display: flex;
    padding-left: 29px;

}

#banner_area-c1 > #b_a-c1_s4 .circles{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;

    margin-top: 30px;

}

#banner_area-c1 > #b_a-c1_s4 #circle1{
    z-index: 1;
    left: 0px;
    background: url("/static/images/p1.jpg");
    background-repeat:no-repeat ;
    background-position: center;
    background-size:cover ;

}
#banner_area-c1 > #b_a-c1_s4 #circle2{
    z-index: 2;
    background: url("/static/images/u1.jpg");
    left: -11px;
    background-repeat:no-repeat ;
    background-position: center;
    background-size:cover ;
}
#banner_area-c1 > #b_a-c1_s4 #circle3{
    z-index: 3;
    left: -20px;
    background: url("/static/images/u2.jpg");
    background-repeat:no-repeat ;
    background-position: center;
    background-size:cover ;

}
#banner_area-c1 > #b_a-c1_s4 #circle4{
    z-index: 4;
    left: -26px;
    background: url("/static/images/u3.jpg");
    background-repeat:no-repeat ;
    background-position: center;
    background-size:cover ;

}

#circles_side{
    position: relative;
    left: -12px;
    margin-top: 35px;
}
#circles_side p{
    font-weight: 400;
    color: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}
/* #banner_area-c1{
    background-color: green;
} */
#banner_area-c2{
    background-color: yellow;
}
/* Main Ends */

/* Footer Starts */
/* Footer Ends */
