* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 16px;
}

body {
  font-size: clamp(1rem, 2.2vw, 1.125rem);
  overflow-x: hidden;

}
/* Loader Css Starts */
.page-content {
      min-height: 100vh;
      padding: 60px;
      filter: blur(8px);
      transition: filter 0.6s ease;
    }

    /* ===== LOADER OVERLAY ===== */
    .loader-overlay {
      position: fixed;
      inset: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(255, 255, 255, 0.4);
      backdrop-filter: blur(4px);
      z-index: 9999;
      transition: opacity 0.6s ease;
    }

    .loader-wrap {
      text-align: center;
    }

    /* ===== LOGO ===== */
    .logo {
      font-size: 48px;
      font-weight: 700;
      letter-spacing: 0.5px;
      animation: float 2s ease-in-out infinite;
    }

    .logo .acad {
      color: #000;
    }

    .logo .secure {
      color: #f4a261;
      margin-left: 4px;
      animation: pulse 1.4s ease-in-out infinite;
    }

    /* ===== PULSE ANIMATION ===== */
    @keyframes pulse {
      0%, 100% { opacity: 1; }
      50% { opacity: 0.45; }
    }

    /* ===== FLOAT ANIMATION ===== */
    @keyframes float {
      0%, 100% { transform: translateY(0); }
      50% { transform: translateY(-12px); }
    }

    /* ===== UNDERLINE BAR ===== */
    .bar {
      width: 220px;
      height: 4px;
      background: #e0e0e0;
      margin: 14px auto 0;
      border-radius: 2px;
      overflow: hidden;
      position: relative;
    }

    .bar::after {
      content: "";
      position: absolute;
      left: -50%;
      width: 50%;
      height: 100%;
      background: #f4a261;
      animation: slide 1.2s ease-in-out infinite;
    }

    @keyframes slide {
      0% { left: -50%; }
      100% { left: 100%; }
    }

    /* ===== LOADED STATE ===== */
    body.loaded .page-content {
      filter: blur(0);
    }

    body.loaded .loader-overlay {
      opacity: 0;
      pointer-events: none;
    }
/* Loader Css Ends */
/* Media Query starts */
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

@media (max-width: 768px){
    .b_c2-img-c {
        width:20% !important;
        margin-top: 5% !important;

    }
    #b_c2-img_cir1{
            top: 8px !important;
            left: 20px !important;
            width: 14% !important;
    }
    #b_c2-img_cir4{
            bottom: -16px !important;
            right: 8px !important;
            width: 6% !important;
    }
    
    #banner_area-c1 > #b_a-c1_s1 > h4 {
        font-size: 40px !important;

    }
    
    #banner_area-c1 > #b_a-c1_s3 a:nth-child(1) button,#banner_area-c1 > #b_a-c1_s3 a:nth-child(2) button {
        padding: 12px 12px !important;
        width: 150px !important;
        margin-top: 15px !important;
    } 
}
/* Media Query Ends */

/* Header starts*/

#nav{
    padding: 1% 4% 0.5% 4%;
    background-color: #fff;
}

.navbar-brand {
  font-weight: bolder;
  color: #000000;
  font-size: 29px;
  padding-left: 20px;
}
.navbar-brand span {
  color: #ebab5c;
  font-weight: bolder;
  font-size: 29px;
}

.nav-item:nth-child(1) .nav-link {
  font-weight: 400;
  color: #ebab5c;
}

.nav-item:nth-child(5) .nav-link {
    border:1px solid black;
    text-align: center;
    font-weight: bold;
    padding: 13px 30px;

}

.nav-item:nth-child(-n+4) .nav-link{
    padding: 13px 30px;
}

.nav-item:nth-child(-n+4) .nav-link:hover {
  text-decoration: underline;
  color: #ebab5c;
  font-weight: 600;
}
.nav-item:nth-child(5) .nav-link:hover {
    background-color: black;
    color: white;
}

/* Header Ends */

/* Main Starts */

.banner_area{
    margin-top: 10vh !important;
}
.banner_area-c{
    height: fit-content;
}


#banner_area-c1{
    padding-left: 4%;
    position: relative;

}

#banner_area-c1 > #b_a-c1_s1 > h4{
    font-weight: bolder;
    font-size: 55px;
    padding-left: 29px;
    margin-top: 50px;
    margin-bottom: 20px;
}

#banner_area-c1 > #b_a-c1_s2 > p{
    padding-left: 29px;
    color: grey;
    font-family: 'Times New Roman', Times, serif;

}
#banner_area-c1 > #b_a-c1_s3{
    display: flex;
    padding-left: 29px;

} 

#banner_area-c1 > #b_a-c1_s3 a:nth-child(1) button{
    padding: 12px 20px;
    border: none;
    /* border-radius: 10px; */
    background-color: #ebab5c;/*#1ab59e*/
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 200px;
    margin-top: 30px;
    margin-right: 20px;
    font-weight: bolder;
    
}
#banner_area-c1 > #b_a-c1_s3 a:nth-child(2) button{
    font-size: 16px;
    padding: 12px 20px;
    width: 200px;
    margin-top: 30px;
    font-weight: bolder;
    border: 1px solid black;
    background-color: transparent;


}

#banner_area-c1 > #b_a-c1_s3 a:nth-child(1) button:hover{
    background-color: transparent;
    color: #000000;
    border: 1px solid black;
}
#banner_area-c1 > #b_a-c1_s3 a:nth-child(2) button:hover{
    background-color:#000000; 
    color: #fff;
    border:none;
}

#banner_area-c1 > #b_a-c1_s4{
    display: flex;
    padding-left: 29px;

}

#banner_area-c1 > #b_a-c1_s4 .circles{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;

    margin-top: 30px;

}

#banner_area-c1 > #b_a-c1_s4 #circle1{
    z-index: 1;
    left: 0px;
    background: url("/static/images/p1.jpg");
    background-repeat:no-repeat ;
    background-position: center;
    background-size:cover ;

}
#banner_area-c1 > #b_a-c1_s4 #circle2{
    z-index: 2;
    background: url("/static/images/u1.jpg");
    left: -11px;
    background-repeat:no-repeat ;
    background-position: center;
    background-size:cover ;
}
#banner_area-c1 > #b_a-c1_s4 #circle3{
    z-index: 3;
    left: -20px;
    background: url("/static/images/u2.jpg");
    background-repeat:no-repeat ;
    background-position: center;
    background-size:cover ;

}
#banner_area-c1 > #b_a-c1_s4 #circle4{
    z-index: 4;
    left: -26px;
    background: url("/static/images/u3.jpg");
    background-repeat:no-repeat ;
    background-position: center;
    background-size:cover ;

}

#circles_side{
    position: relative;
    left: -12px;
    margin-top: 35px;
}
#circles_side p{
    font-weight: 400;
    color: gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}
#banner_area-c2{
    /* background-color: yellow; */
    position: relative;
}

.b_c2-img_circles{
    width: 20%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: absolute;
    z-index: 0;
    background-color: #ebab5c;
}

#b_c2-img_cir2{
    right: 14%;
    width: 16%;
    top: 3%;
}

#b_c2-img_cir3{
    bottom: 45%;
    left: 47%;
    width: 4%;
    background-color: darkorange;
}

#b_c2-img_cir4{
    right: 11%;
    bottom: -3%;
    background-color: #e9844c;
    width: 10%;
}

.b_c2-img-c{
    width: 34%;
    aspect-ratio: 1/1;
    z-index: 1;
    position: relative;
    
}
#b_c2-img-c1{
    background:url("/static/images/b2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    
}
#b_c2-img-c2{
    background:url("/static/images/b1.png") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 50% 50% 0 0;

}
#b_c2-img-c3{
    background:url("/static/images/b3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
#b_c2-img-c4{
    background:url("/static/images/b4.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8% 25% 12% 45%;
}

/* css for feature_tab */
.back{
    background-color: #fff6ed;
}
.feature_img{
  display: flex;
  width: 20%;
  height: auto;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}


/* login page css start */
.cont_form-div{
    position: relative;
    top:25vh;
    bottom: 25vh;
}
.cont_form-div{
  width: 90vw;
  margin: 0 auto;
}
.cont_form-div-c{
    width: 50%;
    height: 500px;
}
#cont_form-div-c1{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    
}
#login_from{
    box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
    width: 90%;
    padding:5% 5%;
    padding-top: 20px;
    
}
#login_from> p{
    font-weight: 400;
    font-size: 25px;
    margin: 20px auto;
    margin-bottom: 30px;
        color: #333;
    font-family: emojisans, 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji', 'Apple Color Emoji', 'Android Emoji', 'EmojiSymbols';
    font-weight: 500;
}
#login_from #username, #login_from #password{
    width: 90%;
    margin: 0 auto;
    border:0;
    border-bottom: 1px solid;
    border-image: linear-gradient(90deg, #8A2BE2, #FF5F9E, #FFB347) 1;
    display: block;
}

#username:focus, #password:focus{
    outline: none;
    border-image: linear-gradient(90deg, #FF5F9E, #FFB347, #8A2BE2) 1;
}

#login_from label[for="password"], #login_from label[for="username"]{
    font-weight: 500;
    margin-top: 20px;
    display: block;
    color: gray;

}
#remember_me{
    height: 12px;}
#login_from label[for="remember_me"]{
    font-size: 14px;
    color: #333;
}
#forgot-password-link{
    text-decoration: none;
    color: #333;
    font-size: 14px;
}
#login-btn{
    margin-top: 30px;
    padding: 12px 20px;
    border: none;
    background: linear-gradient(90deg, #FF5F9E, #FFB347, #8A2BE2);
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    font-weight: bolder;
}
#cont_form-div-c2{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#cont_form-div-c2 img{
    width: 100%;
    height:auto;
}
/* login page css ends */
/* Main Ends */

/* Footer Starts */
/* Footer Ends */
